.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 600px;
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
   .img{
       object-fit: none;
   }
  
    
}
